/* CSS DOCUMENT BY JQ */
*,body,div,form,a,img,h1,h2,h3,h4,h5,h6,span,dd,dl,ul,li,input,lebal,textarea,select,option{
	padding:0;
	margin:0;
	font-size:14px;
}
#header{
	width:999px;
	margin:0 auto;
	overflow:hidden;
	background:#ccc;
}
#header a{
	float:right;
	padding:20px 10px;
}


/* 表单注册 20150926*/
#JQreg{
	width:600px;
	margin:0 auto;
	height:600px;
	border:1px #ccc solid;
	color:#666;
	background:#fff;
}
#JQreg h2{
	background:url(../images/loginHeader.png);
	height:40px;
	line-height:40px;
	text-align:center;
	color:#666;
	letter-spacing:1px; /* 增加或减少字符间的空白（字符间距） */
}
#JQreg h2 img{
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#JQreg dl{
	margin:20px;
}
#JQreg  dl dd{
	padding:8px 0;
	position:relative;
}
#JQreg  dl dd label{
	width:80px;
	display:inline-block;
	
}
#JQreg  dl dd input{
	width:200px;
	height:30px;
	border:1px solid #ccc;
	text-indent:10px;
}
#JQreg  dl dd select{
	width:202px;
	height:33px;
	border:1px solid #ccc;
}
#JQreg  dl dd select[name='year'],#JQreg  dl dd select[name='month'],#JQreg  dl dd select[name='day']{
	width:75px;
	padding-left:12px;
}
#JQreg  dl dd textarea{
	width:360px;
	height:100px;
	border:1px solid #ccc;
	text-indent:10px;
	padding:5px;
	font-size:16px;
	resize:none;
}
#JQreg  dl dd label[for='text'] {
	vertical-align:85px;
}
#JQreg  dl dd input[type='button']{
	width:143px;
	height:33px;
	border:none;
	background:url(../images/reg.png) no-repeat;
	cursor:pointer;
	margin-left:80px;
}
#JQreg  dl dd.textInfo{
	padding-left:320px;
	display:none;
}


#JQreg dl dd span.info, #JQreg dl dd span.error,#JQreg dl dd span.succ{
	font-size:12px;
	width:170px;
	height:32px;
	line-height:32px;
	padding-left:30px;
	letter-spacing:1px;
	display:none;
	position:absolute;	
} 
#JQreg dl dd span.info{
	background:url(../images/regInfo.png) no-repeat;
	color:#333;
	
}
#JQreg dl dd span.error{
	background:url(../images/regError.png) no-repeat;
	color:red;
}
#JQreg dl dd span.succ{
	background:url(../images/regSucc.png) no-repeat;
	color:green;
	padding-left:20px;
	line-height:14px;
}
#JQreg dl dd span.infoUser{
	top:3px;
	left:295px;
	height:43px;
	line-height:18px;
	padding-top:7px;
	background:url(../images/regInfo2.png) no-repeat;
}
#JQreg dl dd span.errorUser {
	top:3px;
	left:295px;
}
#JQreg dl dd span.succUser {
	top:12px;
	left:295px;
}

#JQreg dl dd span.infoPwd{
	width:244px;
	height:102px;
	background:url(../images/regInfo3.png) no-repeat;
	top:-35px;
	left:295px;
	letter-spacing:0px;
	padding:4px 0 0 16px;
}
#JQreg dl dd span.infoPwd p{
	height:25px;
	line-height:25px;
	color:#666;
	font-size:12px;
}
#JQreg dl dd span.infoPwd p strong.s{
	color:#ccc;
}
#JQreg dl dd span.errorPwd{
	top:5px;
	left:295px;
}
#JQreg dl dd span.succPwd{
	top:15px;
	left:295px;
}
#JQreg dl dd span.infoPwd p s4,#JQreg dl dd span.infoPwd p strong.q1,#JQreg dl dd span.infoPwd p strong.q2,#JQreg dl dd span.infoPwd p strong.q3{
	font-weight:normal;
}
#JQreg dl dd span.infoRepwd{
	top:10px;
	left:295px;	
}
#JQreg dl dd span.errorRepwd{
	top:10px;
	left:295px;
}
#JQreg dl dd span.succRepwd{
	top:15px;
	left:295px;
}
#JQreg dl dd span.infoAnswer{
	top:10px;
	left:295px;
}
#JQreg dl dd span.errorAnswer{
	top:10px;
	left:295px;
}
#JQreg dl dd span.succAnswer{
	top:15px;
	left:295px;
}
#JQreg dl dd span.infoEmail{
	top:10px;
	left:295px;
}
#JQreg dl dd span.errorEmail{
	top:10px;
	left:295px;
}
#JQreg dl dd span.succEmail{
	top:15px;
	left:295px;
}
#JQreg dl dd ul.allEmail{
	width:200px;
	height:100px;
	background:#fff;
	color:#666;
	position:absolute;
	left:87px;
	list-style:none;
	border:1px solid #ccc;
	z-index:9;
	border-top:none;
	display:none;
}
#JQreg dl dd ul.allEmail li{
	height:25px;
	line-height:25px;
	border-bottom:1px solid #E5EDF2;
	padding:0 5px;
	cursor:pointer;
}
#JQreg dl dd.textInfo strong{
	padding:0 3px;
	font-weight:bold;
}
#JQreg dl dd.textInfo span{
	color:green;
	cursor:pointer;
}